#user-controller {
	.user_banner { 
		border-radius: 5px; 
		height: 200px; 
		background-color: #DDD; 


		h2 {
			margin: 0; display: inline-block; margin-left: 20px;
		}
	}

	.user_banner_inner {
		padding: 50px 50px;

		ul {
			list-style: none; margin: 0 0 1em 0; padding: 0; display: inline-block; margin-left: 2em; float: right;
			li {
				margin: .5em 0;
				text-align: right;
			}
		}
	}

	.user_thumb {
		border-radius: 50px; 
		display: inline-block;
	}
	
}