<h1 class="heading-large">{{ title }}</h1>

<a href="/submit">Submit a topic</a>

<ol>
  <li ng-repeat="topic in topics">
    <button ng-click="upVoteTopic(topic.id)" ng-class="{upvoted: isUpVoted()}">Up</button>
    {{topic.score}}
    <button ng-click="downVoteTopic(topic.id)" ng-class="{downvoted: isDownVoted()}">Down</button>
    <a href="{{topic.article_link}}">{{topic.title}}</a>
    <aside>Submitted by <a href="#/user/{{topic.created_by}}">{{topic.created_by}}</a> on {{topic.created_on}}</aside>
  </li>
</ol>
