<div class="container-fluid" style="text-align: center;">
  <div class="row banner-wrapper">
    <div class="col-md-4 col-lg-4 col-sm-4 banner national">
      <span class="banner-label">National</span>
      <a href="#">
        <img src="http://squ.ad:8100/static/image_to7wQpk.jpg" />
      </a>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 banner local">
      <span class="banner-label">Local</span>
      <a href="#">
        <img src="http://squ.ad:8100/static/image_Owgh39S.jpg" />
      </a>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 banner world">
      <span class="banner-label">Worldwide</span>
      <a href="#">
        <img src="http://squ.ad:8100/static/image_hxscnmg.jpg" />
      </a>
    </div>
  </div>
  <div class="row">
    <div class="center-block col-md-4">
      <a href="/submit" class="btn btn-primary btn-lg btn-block btn-submit-topic" ng-class="{visible: isLoggedIn}">Submit a topic</a>
    </div>
  </div>
</div>
<br />
<div class="container-fluid">
  <h1 ng-show="tag">Tag: {{tag}}</h1>
  <br />
  <div ng-repeat="topic in topics" class="row">
    <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: center;">
      <span ng-click="upVoteTopic($index)" ng-class="{upvoted: isUpVoted($index)}" class="glyphicon glyphicon-arrow-up upvote">
      </span>
      <h3 style="margin: .5em 0">{{topic.score}}</h3>
      <span ng-click="downVoteTopic($index)" ng-class="{downvoted: isDownVoted($index)}" class="glyphicon glyphicon-arrow-down downvote">
      </span>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <a href="http://squ.ad:3000/topic/{{topic.id}}"><img src="{{backendUrl}}/{{topic.image}}" style="width: 100%" /></a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <a href="topic/{{topic.id}}">{{topic.title}}</a>
      <aside class="error" ng-show="topic.error">{{topic.error}}</aside>
      <p>Submitted by <a href="#/user/{{topic.created_by}}">{{topic.username}}</a> on {{topic.created_on | date : fullDate}}</p>
      <aside><div ng-repeat="tag in topic.tags" class="tag"><a href="topics/tag/{{tag}}">{{tag}}</a></div></aside>
      <br />
      <aside class="right"><a href="topic/{{topic.id}}#actions">{{topic.actions}} actions</a></aside>
    </div>
  </div>
  <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="10" ng-if="totalItems > 10"></uib-pagination>
</div>