<div class="col-md-8 submit-wrapper">
  <form ng-controller="TopicSubmitCtrl" ng-submit="submit()" ng-class="{loading: formLoading}" class="form-submit-topic">
    <h1>Submit a topic</h1>
    <p ng-show="errors.general">{{ errors.general }}</p>
    <label for="article_link">Article Link</label>
    <input id="article_link" type="url" ng-model="article_link" placeholder="Article Link" ng-blur="linkEntered()" class="form-control" required>
    <br />
    <label for="title">Title</label>
    <input id="title" type="text" class="form-control"  ng-model="topic.title" placeholder="Title" required>
    <p ng-show="errors.title" id="">{{ errors.title }}</p>
    <br>
    <label for="tags">Tags</label>
    <tags-input id="tags" ng-model="topic.tags" required></tags-input>
    <br />
    <label for="scope">Scope</label>
    <select id="scope" class="form-control" ng-model="topic.scope">
        <option value="local">Local</option>
        <option value="national">National</option>
        <option value="worldwide">Worldwide</option>
    </select>
    <br />
    <label for="map">Click anywhere on the map to select a location</label>
    <div ng-if="topic.locations.length > 0">
        <p>Multiple addresses detected. Select one from the list below:</p>
        <ul>
            <li ng-repeat="location in topic.locations" data-index="{{$index}}"><a href="#" ng-click="setAddress(location, $index)">{{location.formatted_address}}</a></li>
        </ul>
    </div>
    <ng-map id="map" zoom="3" center="37.774546, -122.433523" map-type-id="">
    </ng-map>
    <br />
    <label for="address">Address</label>
    <input id="address" type="text" class="form-control"  ng-model="topic.address.formatted" placeholder="Address" required disabled>
    <br /><img src="{{ topic.image_preview.src }}" style="height: 350px;" ng-show="topic.image_preview.visible"/>
    <input id="image_url" type="hidden" class="form-control" ng-model="topic.image_url" value="{{ topic.image_preview.src }}" />
    <p ng-show="errors.article_link">{{ errors.article_link }}</p>

    <br>

    <input type="hidden" ng-model="topic.created_by" value="1"/>

    <aside class="error" ng-show="errors.auth">{{ errors.auth }}</aside>
    <br />
    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block" />
  </form>
  <div class="loader" ng-class="{loading: formLoading}"></div>
</div>