<div class="col-md-12 submit-wrapper">
  <form ng-controller="TopicSubmitCtrl as vm" ng-submit="submit()" ng-class="{loading: formLoading}" class="form-submit-topic">
    <h1>Submit a topic</h1>
    <p ng-show="errors.general">{{ errors.general }}</p>
    <label for="article_link">Article Link</label>
    <input id="article_link" type="url" ng-model="article_link" placeholder="Article Link" ng-blur="linkEntered()" class="form-control" required>
    <br />
    <label for="title">Title</label>
    <input id="title" type="text" class="form-control"  ng-model="topic.title" placeholder="Title" required>
    <p ng-show="errors.title" id="">{{ errors.title }}</p>
    <br>
    <label for="tags">Tags</label>
    <tags-input id="tags" ng-model="topic.tags" required replace-spaces-with-dashes="false"></tags-input>
    <br />
    <label for="scope">Scope</label>
    <select id="scope" class="form-control" ng-model="topic.scope" required>
        <option value="local">Local (Your State)</option>
        <option value="national" selected>National (Your Country)</option>
        <option value="worldwide">Worldwide (Outside Your Country)</option>
    </select>
    <br />
    <label for="address">Address</label>
    <p>Can be as vague as the country or as specific as a street-level address.</p>
    <input places-auto-complete id="address" type="text" class="form-control"  ng-model="topic.address.formatted" placeholder="Address" required component-restrictions="" types="['geocode']" on-place-changed="vm.placeChanged()">
    <br/>
    <ng-map id="map" zoom="8" center="37.774546, -122.433523" map-type-id="">
        <marker position="{{pos.lat}},{{pos.lng}}"></marker>
    </ng-map>
    <br />
    <br /><img src="{{ topic.image_preview.src }}" style="height: 350px;" ng-show="topic.image_preview.visible"/>
    <input id="image_url" type="hidden" class="form-control" ng-model="topic.image_url" value="{{ topic.image_preview.src }}" />
    <p ng-show="errors.article_link">{{ errors.article_link }}</p>

    <br>

    <input type="hidden" ng-model="topic.created_by" value="1"/>

    <aside class="error" ng-show="errors.auth">{{ errors.auth }}</aside>
    <br />
    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block" />
  </form>
  <div class="loader" ng-class="{loading: formLoading}"></div>
</div>