<form ng-controller="ActionCtrl" ng-submit="submit()">
<h1>getting there</h1>
<label for="article_link">Link:</label>
<input id="article_link" type="text" ng-model="action.article_link" placeholder="Article Link" ng-blur="linkEntered()" required>
<br />
<label for="action_title">Title:</label>
<input id="action_title" type="text" ng-model="action.title" placeholder="Title" required>
<br />
<label for="action_description">Description:</label>
<textarea id="action_description" ng-model="action.description" placeholder="Description" required></textarea>
<br />
<label for="action_tags">Tags</label>
<tags-input id="action_tags" ng-model="action.tags"></tags-input>
<br />
<input type="submit" value="Submit" />
</form>