<div ng-controller="AuthCtrl">
    <div ng-controller="ActionCtrl as vm" class="container-fluid" style="margin:2em 0">
        <div class="row">
            <div class="col-md-12 col-sm-12 submit-wrapper" ng-show="isLoggedIn()">
                <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
                <form ng-submit="submit()" ng-class="{loading: formLoading}" class="form-submit-action">
                    <h1>Submit an action for this topic</h1>
                    <label for="article_link">Link:</label>
                    <input id="article_link" type="text" ng-model="article_link" class="form-control" placeholder="Article Link" ng-blur="linkEntered()" required>
                    <aside class="error" ng-show="article_link_error">{{article_link_error}}</aside>
                    <br />
                    <label for="action_title">Title:</label>
                    <input id="action_title" type="text" ng-model="action.title" class="form-control" placeholder="Title" required>
                    <br />
                    <label for="action_description">Description:</label>
                    <textarea id="action_description" ng-model="action.description" class="form-control" placeholder="Description" style="width:100%; height: 150px;" required></textarea>
                    <br />
                    <label for="action_tags">Tags</label>
                    <tags-input id="action_tags" ng-model="action.tags" display-property"text" required></tags-input>
                    <br />
                    <label for="scope">Scope</label>
                    <select id="scope" class="form-control" ng-model="action.scope">
                        <option value="local">Local</option>
                        <option value="national">National</option>
                        <option value="worldwide">Worldwide</option>
                    </select>

                    <br />
                    <label for="address">Address</label>
                    <input places-auto-complete id="address" type="text" class="form-control"  ng-model="action.address.formatted" placeholder="Address" required component-restrictions="" types="['geocode']" on-place-changed="vm.placeChanged()">
                    <br/>
                    <ng-map id="map" zoom="8" center="37.774546, -122.433523" map-type-id="" ng-if="$parent.render">
                        <marker position="{{pos.lat}},{{pos.lng}}"></marker>
                    </ng-map>
                    <br />
                    <img src="{{ action.image_preview.src }}" style="min-height: 350px; width: 100%;" ng-show="action.image_preview.visible"/>
                    <input id="image_url" type="hidden" ng-model="action.image_url" value="{{ action.image_preview.src }}" />
                    <br /><br />
                    <input type="submit" value="Submit" class="btn btn-primary btn-lg" />

                </form>
                <div class="loader" ng-class="{loading: formLoading}"></div>
            </div>
        </div>
        <div ng-hide="isLoggedIn()">
          <form ng-submit="login()" ng-hide="isRegister()">
            <h2>Please Log In before submitting an action</h2>
            <p ng-show="errors.general">{{ errors.general }}</p>
            <label for="username">Username</label>
            <input class="form-control" id="username" type="text" ng-model="user.username" aria-describedby="usernameError" placeholder="Username">
            <p ng-show="errors.username" id="usernameError">{{ errors.username }}</p>

            <br>

            <label for="password">Password</label>
            <input class="form-control" id="password" type="password" ng-model="user.password" aria-describedby="passwordError" placeholder="Password">
            <p ng-show="errors.password" id="passwordError">{{ errors.password }}</p>

            <br>

            <input type="submit" value="Log in" class="btn btn-primary btn-lg" />
            <button ng-click="authenticate('facebook')" class="btn btn-primary btn-lg" />Sign in with Facebook</button>
          </form>
        </div>
    </div>
</div>