<h1><a href="{{ topic.article_link }}">{{ topic.title }}</a></h1>
<img style="height:400px" src="{{ backendUrl }}/{{ topic.image }}" />
<hr />
<div style="width: 100%">
	<div ng-repeat="action in topic.actions" style="width:100%">
	  <div style="display: inline-block">
	    <button ng-click="" ng-class="">
	      Up
	    </button>
	    {{action.score}}
	    <button ng-click="" ng-class="">
	      Down
	    </button><br />
	  </div>
	  <div style="display: inline-block;">

	    <img src="{{backendUrl}}/{{action.image}}" style="height: 100px" />
	  </div>
	  <div style="display: inline-block">
	    {{action.title}}
	    <aside class="error" ng-show="topic.error">{{action.error}}</aside>
	    <aside>Submitted by <a href="#/user/{{topic.created_by}}">{{action.created_by}}</a> on {{action.created_on}}</aside>
	  </div>
	</div>
</div>