body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  // padding: $half-space;
}

#content {
  max-width: 1100px;
  margin: 0 auto;
}
.header {
  margin: 20px;
}

// temp
.upvoted {
  color: orange;
}

.downvoted {
  color: blue;
}

.upvote,
.downvote {
    font-size: 25px;
    cursor: pointer;
    color: #222;

    &.action {
        font-size: 15px;
    }
}

.upvote {
    &:hover {
        color: #F3902A;
    }
}

.downvote {
    &:hover {
        color: #920832;
    }
}

.submit-wrapper {
  .form-submit-action,
  .form-submit-topic {
    position: relative;
    &.loading {
      opacity: .2;
    }
  }
  .loader {
    position: absolute;
    top: 40%;
    left: 40%;
    background-image: url(../images/ajax-loader.gif);
    width: 32px;
    height: 32px;
    display: none;

    &.loading {
      display: block;
    }
  }
}


ul.tags {
    margin:.5em 0;
    padding: 0;

    li {
        display: inline;
        margin: 0 .5em 0 0;
    }
}

h3.score {
    color: #222;
    margin: .1em 0;
}

.gmap {
  width: 100%;
}

.topic-score {
  display: inline-block;
  border: 1px solid #CCC;
  /* background: #FFF; */
  padding: 10px 20px;
  border-radius: 2px;
}

div.tag {
  padding: 3px 8px;
  margin-right:10px;
  display:inline-block;
  background: #FB4327;
  color: #FFF; border-radius: 5px;

  a {
    color: #FFF
  }
}

.modal-dialog {
  &.modal-lg {
    width: 1200px;
    max-width: 90%;
  }

  &.modal-sm {
    width: 450px;
    max-width: 45%;
  }
}

.banner-wrapper {
  margin-bottom: 20px;
}

.banner {
  position: relative;
  .banner-label {
    position: absolute;
    top: 30px;
    left: 40%;
    font-size: 30px;
    color: #FFF;
    -webkit-text-stroke: 1px black;
  }

  img {
    width: 95%;
    margin: 0 auto;
  }

  p {
    margin: 1em 0;
  }
}

.pac-container {
  z-index: 9999;
}

.footer {
  width: 100%;
  background: #FFF;
  padding: 1em .5em;
  margin-top: 2em;
}
